@import "~bootstrap/scss/bootstrap";
$cell-size: 64px;
$black-cell-color: deepskyblue;
$white-cell-color: #eed4ac;
$figure-size: 48px;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}


.board {
  width: calc(#{$cell-size} * 8);
  height: calc(#{$cell-size} * 8);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: $cell-size;
  height: $cell-size;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: $figure-size;
    height: $figure-size;
    position: relative;
  }
}

.black {
  background-color: $black-cell-color;
}

.white {
  background-color: $white-cell-color;
}

.selected {
  background-color: brown;
}

.avalible {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: greenyellow;
}